[submodule "zsh/.config/zsh/plugins/pure"]
	path = zsh/.config/zsh/plugins/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "tmux/.config/tmux/plugins/tmux-onehalf-theme"]
	path = tmux/.config/tmux/plugins/tmux-onehalf-theme
	url = https://github.com/andersondanilo/tmux-onehalf-theme.git
