[submodule "zsh/.config/zsh/plugins/pure"]
	path = zsh/.config/zsh/plugins/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "tmux/.config/tmux/themes/tmux-nord"]
	path = tmux/.config/tmux/themes/tmux-nord
	url = git@github.com:nordtheme/tmux.git
	ignore = dirty
